* {
    margin: 0;
    padding: 0;
    font-family: Georgia;   
}
.left {
    background-color: Maroon;
    color: white;
    height: 600px;
    width: 30%;
}
#right {
    background-color: maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow: auto;
    /* display: flex; */
}
main {
    display: flex;
}
footer {
    background-color: dimgray;
    color: white;
}
p {
    padding: 10px;
}
img {
    padding: 10px;
    border: 1px solid white;
}
#indigo {
    background-color: indigo;
}
#steelblue {
    background-color: steelblue;
}
#olive {
    background-color: olive;
}
.img,
.lista {
    float: left;
}
.lista{
    padding: 2% 0 0 4%;
}
.paragraf {
    clear: both;
}

