* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
header,
footer {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 30px;
    text-align: center;
}
main {
    background-color: rgb(176, 196, 222);
    padding: 50px;
    text-align: center;
}
.left {
    background-color: rgb(70, 130, 180);
    height: 300px;
    width: 80%;
}
.right {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 20%;
}
#mainphoto {
    padding: 3px;
    border: 1px dashed blue;
    border-radius: 10px;
}
.left>img {
    height: 40%;
}
.left>img:hover {
    border: 1px solid white;
}
.images {
    display: flex;
}
h3 {
    color: white;
    padding: 20px 0;
}
p {
    display: inline;
}
a {
    display: block;
    margin-top: 2%;
}