* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Georgia;
}
header,
footer {
    background-color: sienna;
    color: white;
    height: 150px;
    display: flex;
}
.left,
.footer1 {
    width: 40%;
}
.middle,
.footer2 {
    width: 50%;
    font-size: 150%;
}
.right,
.footer3 {
    width: 10%;
    text-align: center;
}
main {
    background-color: tan;
    padding: 100px;
}
a {
    border: 1px dashed sienna;
    background-color: tan;
    color: sienna;
    padding: 40px;
    line-height: 150px;
}
ul {
    list-style-type: circle;
    padding: 3% 0 0 5%;
}
.autor,
.kontakt {
    padding: 10% 0;
}